#root {
  max-width: 720px !important;
  margin: 0 auto;
}

:root {
  --p-50: #ffdbdb;
  --p-100: #fcaaa9;
  --p-200: #fe9392;
  --p-300: #f77975;
  --p-400: #e74e40;
  --p-500: #cc0000;
  --p-600: #cc0000;
  --p-700: #920019;
  --p-800: #76001e;
  --p-900: #610021;
  --divider: #96adc13d;
  --divider2: #5f6c790e;
}

* {
  font-family: 'Inter', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.input:focus {
  border: 2px solid var(--p-500) !important;
  box-shadow: none !important;
}
.input-dark:focus {
  border: 2px solid var(--p-200) !important;
  box-shadow: none !important;
}

button {
  font-size: 14px;
}

a {
  text-decoration: none !important;
}

#search {
  position: sticky;
  top: 0;
}

.spritesDetailItem {
  width: 75%;
  margin: auto auto;
  padding: 16px;
  scroll-snap-align: center;
}

.detailItem {
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid var(--divider2);
}
